body {
    font-family: "Josefin Sans", sans-serif;
}

main {
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 35%;
    max-width: 1440px;
    margin: auto;
}

.container .coming-soon {
    display: grid;
    grid-template-rows: 200px;
}

.container .coming-soon .logo {
    width: 25rem;
}

.container .coming-soon .content {
    width: 100%;
}

.container .coming-soon .content .title {
    font-size: 10rem;
    text-transform: uppercase;
    letter-spacing: 3rem;
    color: var(--Dark-Grayish-Red);
}

.container .coming-soon .content .title .emphasis {
    font-weight: 200;
    color: var(--Desaturated-Red);
}

.container .coming-soon .content .description {
    font-size: 1.8rem;
    color: var(--Desaturated-Red);
    letter-spacing: .2rem;
}

.container .coming-soon .input {
    margin-top: 2rem;
    width: 100%;
    padding: 2rem 3rem;
    border-radius: 3rem;
    font-size: 1.8rem;
    border: 1px solid var(--Desaturated-Red);
    font-family: "Josefin Sans", sans-serif;
    background-color: transparent;
}

main .img-woman {
    background-image: url(../images/hero-desktop.jpg);
    height: 100vh;
}